.speech {
  border: 1px solid #ddd;
  width: 300px;
  padding: 0;
  margin: 0;
}
.speech input {
  border: 0;
  width: 240px;
  display: inline-block;
  height: 30px;
}
.speech img {
  float: right;
  width: 40px;
}

.selection {
  background: rgba(46, 115, 252, 0.11);
  border: 2px solid rgba(98, 155, 255, 0.81);
}

.selected {
  background: #7fa0eb;
}

.selected_1 {
  background: #7fa0eb;
}

.selected_2 {
  background: #fad070;
}

.selected_3 {
  background: #70fa8b;
}

#tooltip {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
}

/* Procedures */
#procedures {
  max-width: 100%;
}

#procedure-list {
  list-style-type: none;
  padding: 0;
}

#procedure-list li {
  padding-bottom: 15px;
}

#procedure-card {
  display: inline-block;
  width: 100%;
}

.card-title {
  font-weight: bold;
}
