<%- include('header'); -%>


<div class='row'>
	<div class="col-sm">

		Welcome to Nightmare!
	</div>
</div>


<div class='row'>
	<div class="col-sm">
		Nightmare allows you to automate task online.
	</div>
</div>

<br>


<div class='row'>
	<div class="col-sm">
		<a href='https://docs.google.com/presentation/d/11GjEDvd6JdTW9-NA0A-rsa9kxDvHndruyZZZtJW37Hc/edit?ouid=103575808787915393230&usp=slides_home&ths=true'>Slides</a>
	</div>
</div>

<%- include('footer'); -%>