<%- include('header'); -%>

	<div class="row">
		<div class="col-sm">
			"this is a <span class="text-info">var_name</span>"
		</div>
	</div>

	<div class="row">
		<div class="col-sm">
			"call this program <span class="text-info">var_name</span>"
		</div>
	</div>


	<div class="row">
		<div class="col-sm">
			"call <span class="text-primary">prog_name</span> with <span class="text-info">var_name</span>"
		</div>
	</div>


	<div class="row">
		<div class="col-sm">
			"call <span class="text-primary">prog_name</span> if <span class="text-info">var_name</span> is at [least |greater] <span class="text-primary">value</span>"
		</div>
	</div>


	<div class="row">
		<div class="col-sm">
			"start recording"
		</div>
	</div>


	<div class="row">
		<div class="col-sm">
			"stop recording"
		</div>
	</div>


	<div class="row">
		<div class="col-sm">
			"run <span class="text-primary">prog_name</span> at <span class="text-primary">time</span>"
		</div>
	</div>


	<div class="row">
		<div class="col-sm">
			"run <span class="text-primary">prog_name</span> with <span class="text-info">var_name</span> at <span class="text-primary">time</span>"
		</div>
	</div>

<%- include('footer'); -%>