<%- include('header'); -%>

    <div class="row">
        <div class="col-sm">
            <h3>Emails</h3>
            <section class="box-wrap">
                <div>michael@michael.com</div>
                <div>sam@sam.com</div>
                <div>tom@tom.com</div>
            </section>
        </div>
        <div class="col-sm">
            <h3>GMail</h3>
            email:
            <br>
            <input>
            <br>
            <br>
            body:
            <br>
            <textarea rows="4" cols="50"></textarea>
            <br>
            <br>
            <button id='send'>Send</button>
            <br>
        </div>
    </div>

<%- include('footer'); -%>