<%- include('header'); -%>


  <h3>Stocks</h3>
  <table id='stocks' style="width:50%">
    <tr>
      <td>Symbol</td>
      <td>Price</td>
    </tr>
    <tr>
      <td>AAPL</td>
      <td>318.00</td>
    </tr>
    <tr>
      <td>VMWARE</td>
      <td>150.00</td>
    </tr>
    <tr>
      <td>MSFT</td>
      <td>168.00</td>
    </tr>
    <tr>
      <td>GOOG</td>
      <td>150.00</td>
    </tr>
    <tr>
      <td>TSLA</td>
      <td>1388.00</td>
    </tr>
    <tr>
      <td>AMZN</td>
      <td>1972.00</td>
    </tr>
    <tr>
      <td>VZ</td>
      <td>57.00</td>
    </tr>
  </table>
  <hr>

  <div class="row">
      <div class="col-sm">
          <h3>Script:</h3>
          <%- include('script', {scriptName: 'filter_stocks'}) %>
      </div>
      <div class="col-sm">
          <h3>Video:</h3>

      </div>
  </div>

  
<%- include('footer'); -%>

