<%- include('header'); -%>

  <h3>Reservations</h3>
  <table>
    <tr>
      <td>French Laundry</td>
      <td><button name='French Laundry' class='button_reserve'>Reserve</button></td>
    </tr>
    <tr>
      <td>CoHo</td>
      <td><button name='CoHo' class='button_reserve'>Reserve</button></td>
    </tr>
  </table>

  <div id='reservation_result'style='color:lightblue'>
      &nbsp;
  </div>

  <hr>

  <h3>Restaurants</h3>
  <table id='restaurants' style="width:50%">
    <tr>
      <td>Italian Pizza</td>
      <td>⭐⭐⭐</td>
      <td>$$$$</td>
    </tr>
    <tr>
      <td>Chinese Food</td>
      <td>⭐⭐⭐⭐</td>
      <td>$$$</td>
    </tr>
    <tr>
      <td>Japanese Sushi</td>
      <td>⭐⭐</td>
      <td>$</td>
    </tr>
  </table>
  <hr>

  <div class="row">
      <div class="col-sm">
          <h3>Script:</h3>
          <%- include('script', {scriptName: 'filter_stocks'}) %>
      </div>
      <div class="col-sm">
          <h3>Video:</h3>

          <iframe width="560" height="315" src="https://www.youtube.com/embed/5JUtTe00yGc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </div>

  
<%- include('footer'); -%>