<%- include('header'); -%>

  <h3>Restaurants</h3>
  <table id='restaurants' style="width:50%">
    <tr>
      <th>Stock</th>
      <th>Price</th>
    </tr>
    <tr>
      <td>Italian Pizza</td>
      <td>3.2</td>
    </tr>
    <tr>
      <td>Chinese Food</td>
      <td>$1,972.00</td>
    </tr>
    <tr>
      <td>Japanese Sushi</td>
      <td>$57.00</td>
    </tr>
  </table>

  <hr>

  <div class="row">
      <div class="col-sm">
          <h3>Script:</h3>
          <%- include('script', {scriptName: 'filter_restaurants'}) %>
      </div>

      <div class="col-sm">
          <h3>Video:</h3>

          <iframe width="560" height="315" src="https://www.youtube.com/embed/5JUtTe00yGc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </div>

  
<%- include('footer'); -%>