<%- include('header'); -%>

  <h3>Reservations</h3>
  <table>
    <tr>
      <td>French Laundry</td>
      <td><button name='French Laundry' class='button_reserve'>Reserve</button></td>
    </tr>
    <tr>
      <td>CoHo</td>
      <td><button name='CoHo' class='button_reserve'>Reserve</button></td>
    </tr>
  </table>

  <div id='reservation_result'style='color:lightblue'>
      &nbsp;
  </div>

  <hr>

  <h3>Restaurants</h3>
  <table id='restaurants' style="width:50%">
    <tr>
      <td>Italian Pizza</td>
      <td>⭐⭐⭐</td>
      <td>$$$$</td>
    </tr>
    <tr>
      <td>Chinese Food</td>
      <td>⭐⭐⭐⭐</td>
      <td>$$$</td>
    </tr>
    <tr>
      <td>Japanese Sushi</td>
      <td>⭐⭐</td>
      <td>$</td>
    </tr>
  </table>
  
<%- include('footer'); -%>