<%- include('header'); -%>

  <h3>Restaurants</h3>
  <table id='restaurants' style="width:50%">
    <tr>
      <th>Name</th>
      <th>Rating</th>
    </tr>
    <tr>
      <td>Asian Box</td>
      <td>4.2</td>
    </tr>
    <tr>
      <td>Cool Cafe</td>
      <td>4.0</td>
    </tr>
    <tr>
      <td>The Treehouse</td>
      <td>4.2</td>
    </tr>
    <tr>
      <td>Fleming's Prime Steakhouse</td>
      <td>4.3</td>
    </tr>
    <tr>
      <td>The Axe & Palm</td>
      <td>2.1</td>
    </tr>
    <tr>
      <td>Olives</td>
      <td>3.7</td>
    </tr>
    <tr>
      <td>Bird Dog</td>
      <td>4.5</td>
    </tr>
    <tr>
      <td>True Food Cafe</td>
      <td>3.2</td>
    </tr>
    <tr>
      <td>Terrain Cafe</td>
      <td>4.1</td>
    </tr>
    <tr>
      <td>Rodrigos</td>
      <td>1.4</td>
    </tr>
  </table>

  <hr>

  <div class="row">
      <div class="col-sm">
          <h3>Script:</h3>
          <%- include('script', {scriptName: 'filter_restaurants'}) %>
      </div>

      <div class="col-sm">
          <h3>Video:</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/HgarRzEW8SI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </div>

  
<%- include('footer'); -%>