<%- include('header'); -%>

  <h3>Reservations</h3>
  <table>
    <tr>
      <td>French Laundry</td>
      <td><button name='French Laundry' class='button_reserve'>Reserve</button></td>
    </tr>
    <tr>
      <td>CoHo</td>
      <td><button name='CoHo' class='button_reserve'>Reserve</button></td>
    </tr>
  </table>

  <div id='reservation_result'style='color:lightblue'>
      &nbsp;
  </div>

  <hr>

  <h3>Restaurants</h3>

  <div class="row">
      <div class="col-sm">
          <h3>Script:</h3>
          <div class="col-sm">
              <div class="row">
                  <b>Say</b>: "start recording"
              </div>
          </div>
          <div class="col-sm">
              <div class="row">
                  <b>Action</b>: [in the `email` field type] almond@stanford.edu 
              </div>
          </div>
          <div class="col-sm">
              <div class="row">
                  <b>Action</b>: [in the `body` field type] Hello! 
              </div>
          </div>
          <div class="col-sm">
              <div class="row">
                  <b>Action</b>: [triple click `almond@stanford.edu`] 
              </div>
          </div>
          <div class="col-sm">
              <div class="row">
                  <b>Say</b>: this is an email 
              </div>
          </div>
          <div class="col-sm">
              <div class="row">
                  <b>Action</b>: [press tab] 
              </div>
          </div>
          <div class="col-sm">
              <div class="row">
                  <b>Action</b>: [click send] 
              </div>
          </div>
          <div class="col-sm">
              <div class="row">
                  <b>Say</b>: "stop recording" 
              </div>
          </div>

          <div class="col-sm">
              <div class="row">
                  <b>Say</b>: "name this program email"
              </div>
          </div>
          <div class="col-sm">
              <div class="row">
                  <b>Say</b>: run email 
              </div>
          </div>
          <div class="col-sm">
              <div class="row">
                  <b>Action</b>: select emails on left side using the mouse
              </div>
          </div>
      </div>
      <div class="col-sm">
          <h3>Video:</h3>

          <iframe width="560" height="315" src="https://www.youtube.com/embed/5JUtTe00yGc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </div>

  
<%- include('footer'); -%>