<%- include('header'); -%>

    <div class="row">
        <div class="col-sm">
            <h3>Emails</h3>
            <section class="box-wrap">
                <div>michael@michael.com</div>
                <div>sam@sam.com</div>
                <div>tom@tom.com</div>
            </section>
        </div>
        <div class="col-sm">
            <h3>GMail</h3>
            email:
            <br>
            <input>
            <br>
            <br>
            body:
            <br>
            <textarea rows="4" cols="50"></textarea>
            <br>
            <br>
            <button id='send'>Send</button>
            <br>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm">
            <h3>Script:</h3>
            <div id="script-container">
                <b>Say:</b> "start recording" <br>
                <b>Action:</b> [in the `email` field, type] almond@stanford.edu <br>
                <b>Action:</b> [in the `body` field, type] Hello! <br>
                <b>Action:</b> [triple click `almond@stanford.edu`] <br>
                <b>Say:</b> "this is an email" <br>
                <b>Action:</b> [press tab] <br>
                <b>Action:</b> [click send] <br>
                <b>Say:</b> "stop recording" <br>
                <b>Say:</b>"name this program send" <br>
                <b>Action:</b> [select emails on left side] <br>
                <b>Say:</b> “These are emails” <br>
                <b>Say:</b> “run send with emails"
            </div>
        </div>
        <div class="col-sm">
            <h3>Video:</h3>

        </div>
    </div>




<%- include('footer'); -%>