<%- include('header'); -%>

    <div class="row">
        <div class="col-sm">
            <h3>Stocks</h3>
            <section class="box-wrap">
                <div>AAPL</div>
                <div>VMWARE</div>
                <div>MSFT</div>
                <div>GOOG</div>
                <div>TSLA</div>
                <div>AMZN</div>
                <div>VZ</div>
            </section>
        </div>
        <div class="col-sm">
            <h3>E-Trade</h3>

            <input id='stock_input' value='AAPL'>
            <button type='submit' id='stock_button'>search</button>
            <div>name: <span id='stock_name'></span></div>
            <div>price: <span id='stock_price'></span></div>
            <br>

            <button id='button_stock_buy'>Buy</button>

            <div id='stock_status' style="color:red;"></div>


        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm">
            <h3>Script:</h3>
            <div class="col-sm">
                <div class="row">
                    <b>Say</b>: "start recording"
                </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <b>Action</b>: [in the `email` field type] almond@stanford.edu 
                </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <b>Action</b>: [in the `body` field type] Hello! 
                </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <b>Action</b>: [triple click `almond@stanford.edu`] 
                </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <b>Say</b>: this is an email 
                </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <b>Action</b>: [press tab] 
                </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <b>Action</b>: [click send] 
                </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <b>Say</b>: "stop recording" 
                </div>
            </div>

            <div class="col-sm">
                <div class="row">
                    <b>Say</b>: "name this program email"
                </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <b>Say</b>: run email 
                </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <b>Action</b>: select emails on left side using the mouse
                </div>
            </div>
        </div>
        <div class="col-sm">
            <h3>Video:</h3>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/5JUtTe00yGc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>




<%- include('footer'); -%>