<%- include('header'); -%>

    <div class="row">
        <div class="col-sm">
            <h3>Emails</h3>
            <section class="box-wrap">
                <div>michael@michael.com</div>
                <div>sam@sam.com</div>
                <div>tom@tom.com</div>
                <div>bob@bob.com</div>
                <div>katherine@katherine.com</div>
                <div>alice@alice.com</div>
                <div>kora@kora.com</div>
                <div>jon@jon.com</div>
                <div>patricia@patricia.com</div>
                <div>marco@marco.com</div>
            </section>
        </div>
        <div class="col-sm">
            <h3>GMail</h3>
            email:
            <br>
            <input>
            <br>
            <br>
            body:
            <br>
            <textarea rows="4" cols="50"></textarea>
            <br>
            <br>
            <button id='send'>Send</button>
            <br>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm">
            <h3>Script:</h3>
            <div id="script-container">
                <b>Say:</b> "start recording" <br>
                <b>Action:</b> [in the `email` field, type] almond@stanford.edu <br>
                <b>Action:</b> [in the `body` field, type] Hello! <br>
                <b>Action:</b> [triple click `almond@stanford.edu`] <br>
                <b>Say:</b> "this is an email" <br>
                <b>Action:</b> [press tab] <br>
                <b>Action:</b> [click send] <br>
                <b>Say:</b> "stop recording" <br>
                <b>Say:</b>"name this program send" <br>
                <b>Say:</b>"run send" <br>
                <b>Say:</b>"Start selection" <br>
                <b>Action:</b> [select emails on left side] <br>
                <b>Say:</b>"Stop selection" <br>
                <b>Say:</b> “This is an email” <br>
                <b>Say:</b> “run send with email"
            </div>
        </div>
        <div class="col-sm">
            <h3>Video:</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/6Mer6ssjeJ4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>




<%- include('footer'); -%>