<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/@simonwep/selection-js/dist/selection.min.js"></script> -->


</head>

<body>
    <div class="container">

        <div class="row">

            <div class="col-1">
                <a href="/simple_1">[simple - 1]</a>
            </div>

            <div class="col-1">
                <a href="/simple_2">[simple - 2]</a>
            </div>

            <div class="col-1">
                <a href="/for_each_emails">[for Each - emails]</a>
            </div>

            <div class="col-1">
                <a href="/for_each_stocks">[for Each - stocks]</a>
            </div>

            <div class="col-1">
                <a href="/if_stocks">[if - stocks]</a>
            </div>

            <div class="col-1">
                <a href="/if_restaurants">[if - resteruants]</a>
            </div>

            <div class="col-1">
                <a href="/trigger_action_restaurants">[trigger action restaurants]</a>
            </div>

            <div class="col-1">
                <a href="/trigger_action_stocks">[trigger action stocks]</a>
            </div>

            <div class="col-1">
                <a href="/filter_restaurants">[filter restaurants]</a>
            </div>

            <div class="col-1">
                <a href="/filter_stocks">[filter stocks]</a>
            </div>

            <div class="col-1">
                <a href="/nlp_stocks">[nlp stocks]</a>
            </div>

            <div class="col-1">
                <a href="/nlp_restaurants">[nlp restaurants]</a>
            </div>


            <div class="col-1">
                <a href="/other">[other]</a>
            </div>

            <div class="col-1">
                <a href="/cheatsheet">[cheatsheet]</a>
            </div>

            <div class="col-1">
                <a href="/state">[state]</a>
            </div>

            <div class="col-1">
                <a href="/survey">[survey]</a>
            </div>

            <div class="col-1">
                <a href="/about">[about]</a>
            </div>

            <div class="col-4">
                <div id='transcript'>###</div>
            </div>

        </div>
        <hr>