<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<script src="/js/bundle/frontend.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/@simonwep/selection-js/dist/selection.min.js"></script> -->


</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-sm">
                <a href="/emails">[emails]</a>
            </div>

            <div class="col-sm">
                <a href="/stocks">[stocks]</a>
            </div>


            <div class="col-sm">
                <a href="/restaurants">[restaurants]</a>
            </div>

            <div class="col-sm">
                <a href="/other">[other]</a>
            </div>

            <div class="col-sm">
                <a href="/cheatsheet">[cheatsheet]</a>
            </div>

            <div class="col-sm">
                <a href="/state">[state]</a>
            </div>

            <div class="col-sm">
                <a href="/about">[about]</a>
            </div>

        </div>
        <hr>

        <div class="row">
            <div class="col-sm">
                Hi!
            </div>
            <div class="col-sm">
                <div id='transcript'>###</div>
            </div>
        </div>
        <hr>

