<%- include('header'); -%>

  <h3>Restaurants</h3>
  <table id='restaurants' style="width:50%">
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th>Price</th>
      <th>Reserve</th>
    </tr>
    <tr>
      <td>Italian Pizza</td>
      <td>3.2</td>
      <td>$$$$</td>
      <td><button>reserve</button></td>
    </tr>
    <tr>
      <td>Chinese Food</td>
      <td>2.4</td>
      <td>$$$</td>
      <td><button>reserve</button></td>
    </tr>
    <tr>
      <td>Japanese Sushi</td>
      <td>4.3</td>
      <td>$</td>
      <td><button>reserve</button></td>
    </tr>
  </table>

  <hr>

  <div class="row">
      <div class="col-sm">
          <h3>Script:</h3>
            <%- include('script', {scriptName: 'if_restaurants'}) %>
      </div>
      <div class="col-sm">
          <h3>Video:</h3>

          <iframe width="560" height="315" src="https://www.youtube.com/embed/5JUtTe00yGc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </div>

  
<%- include('footer'); -%>