<%- include('header'); -%>

  <div class="row">
      <div class="col-sm">
          <h3>Stocks</h3>
          <section class="box-wrap">
              <div>AAPL</div>
              <div>VMWARE</div>
              <div>MSFT</div>
              <div>GOOG</div>
              <div>TSLA</div>
              <div>AMZN</div>
              <div>VZ</div>
          </section>
      </div>
      <div class="col-sm">
          <h3>E-Trade</h3>

          <input id='stock_input' value='AAPL'>
          <button type='submit' id='stock_button'>search</button>
          <div>name: <span id='stock_name'></span></div>
          <div>price: <span id='stock_price'></span></div>
          <br>

          <button id='button_stock_buy'>Buy</button>

          <div id='stock_status' style="color:red;"></div>

      </div>
  </div>
  <hr>


  <div class="row">
      <div class="col-sm">
          <h3>Script:</h3>
            <%- include('script', {scriptName: 'nlp_stocks'}) %>
      </div>
      <div class="col-sm">
          <h3>Video:</h3>

      </div>
  </div>

  
<%- include('footer'); -%>