<%- include('header'); -%>

    <div class="row">
    <div class="col-sm">

        <h3>Lists</h3>
        <h5>Groceries</h5>
        <ul id='groceries' >
          <li>Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
        </ul>

        <h5>Directions</h5>
        <ol id='directions' >
          <li class='selection-area'>Head north on N Halsted St</li>
          <li class='selection-area'>Turn right on W Diversey Pkwy</li>
          <li class='selection-area'>Turn left on N Orchard St</li>
        </ol>
        <hr>

        <h3>Buttons and Links</h3>
        <button name='say'>Hello</button>
        <br>
        <a href="#">link 1</a>
        <br>
        <a href="#">link 2</a>
        <br>
        <a href="">link 3</a>
        <br>
        <a href="#">link 4</a>
        <br><br>
        <hr>
        <h3>Buttons</h3>
        <button>Say Hello</button>
        <br><br>
        <button>2 Billion</button>
        <br><br>
        <hr>
        <h3>Login</h3>
        first name: <input>
        <br>
        <br>
        last name: <input>
        <br>
        <br>
        password: <input>
        <br>

    </div>
    </div>

<%- include('footer'); -%>