<div id="script-container"></div>

<script>
   var scripts = {
        'for_each_stocks': `
            **Say:** “start recording” \t
            **Action:** [In the “symbol” field, type] PINS \t
            **Action:** [Triple click “PINS”] \t
            **Say:** “This is a symbol.” \t
            **Action:** [press tab] \t
            **Action:** [click search] \t
            **Action:** [press tab] \t
            **Action:** [click buy] \t
            **Say:** “stop recording” \t
            **Say:** “Name this program purchase” \t
            **Say:** "Start selection" \t
            **Action:** [Select stocks on left side] \t
            **Say:** "Stop selection" \t
            **Say:** “This is a stock” \t
            **Say:** “Run purchase with stock”
        `.trim(),
        'if_stocks': `
            **Say:** “start recording”\t
            **Action:** [In the “symbol” field, type] AMZN\t
            **Action:** [Triple click “AMZN”]\t
            **Say:** “This is a symbol.”\t
            **Action:** [press tab]\t
            **Action:** [click search]\t
            **Action:** [click buy]\t
            **Say:** “stop recording”\t
            **Say:** “Name this program purchase”\t
            **Say:** "Start selection" \t
            **Action:** [Select price.]\t
            **Say:** "Stop selection" \t
            **Say:** “This is a price”\t
            **Say:** “Run purchase if price is less than 2000”\t
        `.trim(),
        'if_restaurants': `
            **Say:** “start recording”\t
            **Action:** Click “Reserve” next to “Italian Pizza”\t
            **Say:** “stop recording”\t
            **Say:** “name this program reserve”\t
            **Say:** "Start selection" \t
            **Action:** [Select review rating next to “Italian Pizza”]\t
            **Say:** "Stop selection" \t
            **Say:** “This is a rating”\t
            **Say:** “Run reserve if rating is greater than 3.”\t
        `.trim(),
        'trigger_stocks': `
            **Say:** “start recording”\t
            **Action:** [Click “Search”]\t
            **Action:** [Click “Buy”]\t
            **Say:** “stop recording”\t
            **Say:** “name this program purchase”\t
            **Say:** “Run purchase at 7:20 a.m.”\t
        `.trim(),
        'trigger_restaurants': `
            **Say:** “start recording”\t
            **Action:** [Click “Reserve” next to “CoHo”]\t
            **Say:** “stop recording”\t
            **Say:** “name this program coffee”\t
            **Say:** “Run coffee at 1:35 p.m.”\t
        `.trim(),
        'filter_stocks': `
            **Say:** Start selection\t
            **Action:** [Select stocks listed in table.]\t
            **Say:** Stop selection \t
            **Say:** “this table contains stocks”\t
            **Say:** “Show me stocks with price greater than 1,000”\t
            **Say:** “Show me stocks with price less than 1,000”\t
        `.trim(),
        'filter_restaurants': `\t
            **Say:** Start selection\t
            **Action:** [Select restaurants listed in table.]\t
            **Say:** Stop selection \t
            **Say:** “this table contains restaurants”\t
            **Say:** “Show me restaurants with rating greater than 3”\t
            **Say:** “Show me restaurants with rating equal to 2.1”\t
        `.trim(),
        'nlp_stocks': `
            **Say:** “start recording”\t
            **Action:** [in search field, type] AMZN\t
            **Action:** [triple click on AMZN]\t
            **Say:** “This is a stock”\t
            **Action:** [Click “get price” button]\t
            **Say:** “stop recording”\t
            **Say:** “name this program query”\t
            **Say:** “run query and then tweet the result”\t
        `.trim(),
        'nlp_restaurants': `\t
            **Say:** “start recording”\t
            **Action:** [in search field, type] French Laundry\t
            **Action:** [triple click on French Laundry]\t
            **Say:** “This is a restaurant”\t
            **Action:** [Click “search” button]\t
            **Say:** “stop recording”\t
            **Say:** “name this program food”\t
            **Say:** “run food and then tweet the result”\t
        `.trim(),
        'add_cv19': `\t
            **Say:** “start cv19\t
            **Action:** [Select cases listed in table.]\t
            **Say:** Stop selection \t
            **Say:** “this table contains cases”\t
            **Say:** “Add cases”\t
        `.trim(),
    };

    console.log(encodeURI(scripts['for_each_stocks']));

    document.getElementById('script-container').innerHTML = marked(scripts['<%= scriptName %>']);
</script>