<%- include('header'); -%>

  <h3>Simple</h3>


  <button id='simple_button'>Click Me</button>

  <div id='simple_status' style='color:coral'>
      &nbsp;
  </div>

    <hr>

    <div class="row">
        <div class="col-sm">
            <h3>Script:</h3>
            <div id="script-container">
                <b>Say:</b> “start recording” <br>
                <b>Action:</b> [click on ‘Click Me’ button] <br>
                <b>Say:</b> “stop recording” <br>
                <b>Say:</b> “name this program click” <br>
                <b>Say:</b> “run click”
            </div>
        </div>
        <div class="col-sm">
            <h3>Video:</h3>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/KvKxNx01Lts" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

<%- include('footer'); -%>


