<%- include('header'); -%>

  <h3>Simple 2</h3>
	<input placeholder='type here 1'>
	<input placeholder='type here 2'>


  <div id='reservation_result'style='color:lightblue'>
      &nbsp;
  </div>

    <hr>

    <div class="row">
        <div class="col-sm">
            <h3>Script:</h3>
            <div id="script-container">
                <b>Say:</b> “start recording” <br>
                <b>Action:</b> [in the “field 1” field, type] hello <br>
                <b>Action:</b> [press tab] <br>
                <b>Action:</b> [in the “field 2” field, type] world <br>
                <b>Say:</b> “stop recording” <br>
                <b>Say:</b> “name this program <span class="text-monospace">type</span>” <br>
                <b>Say:</b> “run type”
            </div>
        </div>
        <div class="col-sm">
            <h3>Video:</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/WJmfwo2duCQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>


<%- include('footer'); -%>


