<%- include('header'); -%>


    <h3>Stocks</h3>
    <input id='stock_input' value='apple'>
    <button type='submit' id='stock_button'>search</button>
    <div>name: <span id='stock_name'></span></div>
    <div>price: <span id='stock_price'></span></div>
    <br>
    <br>
    <div>
        <span>Apple</span>
    </div>
    <div>
        price: <span>$318</span>
    </div>


<%- include('footer'); -%>
