<%- include('header'); -%>

    <div class="row">
        <div class="col-sm">
            <h3>Input</h3>
            <textarea id='user_input' rows="20" columns="100">
pants</textarea>
        </div>
        <div class="col-sm">
            <h3>Output</h3>
			<section id='user_output' class="box-wrap">
                <div>pants</div>
                <div>shirts</div>
			</div>
        </div>
    </div>


<%- include('footer'); -%>