<%- include('header'); -%>

    <div class="row">
        <div class="col-sm">
            <h3>User Input</h3>
            <textarea rows="20" columns="100"></textarea>
        </div>
    </div>


<%- include('footer'); -%>