<%- include('header'); -%>

    <div class="row">
        <div class="col-sm">
            <h3>Input</h3>
            <textarea id='user_input' rows="20" columns="100">
eggs
milk
sugar</textarea>
        </div>
        <div class="col-sm">
            <h3>Output</h3>
			<table id='user_output'>
<tr><td>eggs</td></tr>
<tr><td>milk</td></tr>
<tr><td>sugar</td></tr>
			</table>
        </div>
    </div>


<%- include('footer'); -%>